.container {
	padding-top: 60px;
}
h4 {
	padding-bottom: 15px;
}
.note {
	margin-bottom: 20px;
}
.search1, .search2{
	display:none;
}


.options {
	padding-top: 80px;
}

#oo_flow {
	padding-top: 10px;
}